.hoverLogin:hover {
  color: #000000;
  background-color: #89818112 !important;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  border-radius: 12px;
  padding-bottom: 3px;
}

.bg {
  background-color: #007bff !important;
  border-radius: 12px !important;
  padding-bottom: 4px !important;
  color: #ffffff;
}
.bg2 {
  background-color: #d5ded43d !important;
  border-radius: 12px;
}

.hoverSignOut:hover {
  color: #ffffff !important;
  background-color: #dc3545 !important;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  border-radius: 12px;
  padding-bottom: 3px;
}
